<!DOCTYPE html>
<html>
  <head>
      <link id="bootstrap-css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/login-signup_form.css" type="text/css">
      <link rel="shortcut icon" href="">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div class="wrapper fadeInDown">
          <div id="formContent">
              <!-- Tabs Titles-->
              <!-- Icon-->
              <div class="fadeIn first"><img id="icon" src="images/chat/logo.png" alt="User Icon"></div>
              <!-- Login Form-->
              <form action="/login" method="POST">
                <% err = typeof err !== 'string' ? "" : err %>
                <% success = typeof success !== 'string' ? "" : success %>
                <% if(err){ %>
                    <div class="alert alert-danger notify"> <%= err%> </div>
                <% }%>

                <% if(success){ %>
                    <div class="alert alert-success notify"> <%= success%> </div>
                <% }%>
                <input class="fadeIn second" id="login" type="email" name="email" placeholder="Email" required="required">
                <input class="fadeIn third" id="password" type="password" name="password" placeholder="Mật khẩu">
                <input class="fadeIn fourth" type="submit" value="Đăng nhập"></form>
              <!-- Remind Passowrd-->
              <div id="formFooter"><a class="underlineHover" href="#">Quên mật khẩu?</a><a class="underlineHover" href="/signup">Đăng kí</a></div>
          </div>
      </div>
  </body>
</html>