doctype html
html
  head
    link#bootstrap-css(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/styles/login-signup_form.css', type='text/css')
    link(rel="shortcut icon", href="")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
  body
    .wrapper.fadeInDown
      #formContent
        // Tabs Titles
        // Icon
        .fadeIn.first
          img#icon(src='/assets/images/login-Icon.png', alt='User Icon')
        // Login Form
        form(action='/login', method="POST")
            if err
                .alert.alert-danger.notify= err
            input#login.fadeIn.second(type='email', name='email', placeholder='Email', required='required')
            input#password.fadeIn.third(type='password', name='password', placeholder='Password')
            input.fadeIn.fourth(type='submit', value='Log In')
        // Remind Passowrd
        #formFooter
            a.underlineHover(href='#') Forgot Password?
            a.underlineHover(href='/signup') Sign Up

