doctype html
html
  head
    link#bootstrap-css(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/styles/login-signup_form.css', type='text/css')
    link(rel="shortcut icon", href="")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
  body
    .wrapper.fadeInDown
      #formContent
        // Tabs Titles
        // Icon
        .fadeIn.first
          img#icon(src='/assets/images/login-Icon.png', alt='User Icon')
        // Login Form
        form(action='/signup', method="POST")
          if err
            .alert.alert-danger.notify= err
          input#name.fadeIn.second(type='text', name='name', placeholder='Name', required='required')
          input#signup.fadeIn.third(type='email', name='email', placeholder='Email', required='required')
          input#password.fadeIn.fourth(type='password', name='password', placeholder='Password', required='required')
          input.fadeIn.fifth(type='submit', value='Sign Up')
        // Remind Passowrd
        #formFooter
          span Already have account 
          a.underlineHover(href='/login') Login

