doctype html
html
  head
    title User
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/styles/style.css', type='text/css')
    link(rel='stylesheet', href='/styles/components.css', type='text/css')
    link(rel="shortcut icon", href="")
  body
    .main-content
        .section
            .section-header
                h1 List Users
            .section-body
                .card
                    .card-body.table-responsive
                        table.table.table-bordered
                            thead
                                tr
                                    th Avatar
                                    th Name
                                    th Email
                                    th
                                    th
                                    th
                            tbody
                                each user in users
                                    tr
                                        td
                                            //img(src=user.avatar, width="32")
                                        td
                                            b=user.name
                                        td
                                            i=user.email
                                        td
                                            a(href='#')
                                                img(src='/assets/images/device-camera-video.svg')
                                        td
                                            a(href='#')
                                                img(src='/assets/images/comment-discussion.svg')
                                        td
