doctype html
html
  head
    title User
    link#bootstrap-css(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/components.css', type='text/css')
    link(rel="shortcut icon", href="")
  body
    .main-content
        .section
            .section-header
                h1 List Users
            .section-body
                .card
                    .card-body.table-responsive
                        table.table.table-bordered
                            thead
                                tr
                                    th Avatar
                                    th Name
                                    th Email
                                    th
                                    th
                                    th
                            tbody
                                each user in users
                                    tr
                                        td
                                            //img(src=user.avatar, width="32")
                                        td
                                            b=user.name
                                        td
                                            i=user.email
                                        td
                                            button(onClick="window.open('/videocall/incall', '_blank', 'width=600, height=700')")
                                                img(src='/images/device-camera-video.svg')
                                        td
                                            a(href='#')
                                                img(src='/images/comment-discussion.svg')
                                        td
    