video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

body {
	background-color: black;
	position: relative;
	margin: 0;
}

#remote {
	width: 100%;
    height: -webkit-fill-available;
    overflow: hidden;
}

#local {
	position: absolute;
    width: 100%;
    bottom: 0;
}

#remoteStream, #localStream {
	height: -webkit-fill-available;
    object-fit: cover;
    background-color: black;
}
#localStream {
	height: 240px !important;
}

.control {
    width: 50%;
    position: absolute;
    align-items: center;
    border: none;
}

.video {
	width: 400px;
}

.endCall {
	outline: none;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    opacity: .8;
    background-color: red;
    border: none;
    margin-bottom: 15px;
}

.main-local {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: flex-end;
}