video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

body {
	background-color: black;
	position: relative;
	margin: 0;
}

#remote {
	width: 100%;
    height: -webkit-fill-available;
    overflow: hidden;
}

#local {
    position: absolute;
    width: 400px;
    right: 0;
    bottom: 0;
}

#remoteStream, #localStream {
	height: -webkit-fill-available;
    object-fit: cover;
}
#localStream {
	height: 240px !important;
	max-width: 100%;
    max-height: 100%;
}