doctype html
html
  head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/styles/login_form.css', type='text/css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    .wrapper.fadeInDown
      #formContent
        // Tabs Titles
        // Icon
        .fadeIn.first
          img#icon(src='/assets/images/login-Icon.png', alt='User Icon')
        // Login Form
        form
          input#login.fadeIn.second(type='text', name='login', placeholder='Email')
          input#password.fadeIn.third(type='password', name='password', placeholder='Password')
          input.fadeIn.fourth(type='submit', value='Log In')
        // Remind Passowrd
        #formFooter
          a.underlineHover(href='#') Forgot Password?
          a.underlineHover(href='#') Sign Up

