doctype html
html
  head
    title User
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
  body
    table.table
        tr
          th Avatar
          th Name
          th Email
          th
          th
          th
        each user in users
            tr
                td
                  //img(src=user.avatar, width="32")
                td= user.name
                td= user.email
                td
                    a(href='#')
                        img(src='/assets/images/device-camera-video.svg')
                td
                    a(href='#')
                        img(src='/assets/images/comment-discussion.svg')
                td
