<!DOCTYPE html>
<html>

    <head>
        <title>Video Call</title>
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="/stylesheets/videocall.style.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/css/chat/bootstrap.min.css" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="/javascript/build_in_libs/jquery-3.4.1.min.js"></script>
    </head>

    <body>
        <!--get loggedId from res.locals-->
        <div id="remote">
            <video muted="muted" id="remoteStream" width="100%"></video>
        </div>
        <div id="local">
            <div class="main-local">
                <div class="video">
                    <video muted="muted" id="localStream" width="100%"></video>
                </div>
                
                <div class="control">
                    <button type="button" class="endCall" style="outline: none;"><i class="material-icons" style="font-size: 42px;color: white;">call_end</i></button>
                </div>
            </div>
        </div>
    </body>

</html>