<!DOCTYPE html>
<html>

    <head>
        <title>Video Call</title>
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="/stylesheets/videocall.style.css" type="text/css">
        <script type="text/javascript" src="/javascript/build_in_libs/jquery-3.4.1.min.js"></script>
    </head>

    <body>
        <!--get loggedId from res.locals-->
        <div id="local"><video muted="muted" id="localStream" width="100%"></video></div><br>
        <div id="remote"><video muted="muted" id="remoteStream" width="100%"></video></div>
    </body>

</html>